<div id="msg_dialog" class="welcome_box" style="height:430px;" th:fragment="content">
    <p id="msg_dialog_content" class="welcome">
						<span id="msg_dialog_headline" class="black">
							Willkommen auf der Homepage von TRaetsch IT!
						</span>
    <div id="msg_dialog_body" class="welcome_box" style="height:310px; width:480px; margin-top: 30px;">
        <p class="line">Das Unternemen ist auf die Konzeption, Entwicklung und Integration von individueller Software jeglicher Art spezialisert.</p>

        <p class="line">Wir bieten vollständige, systemunabhängige Entwicklung für Desktop- und Webapplikationen, sowie die Entwicklung von Apps für mobile Endgeräte.</p>

        <p class="line">Auch die Programmiereung individueller Plugins für die meisten gängigen Content Management Systeme (Wordpress, Drupal, Joomla, TYPO3), sowie die Entwicklung für verschieden Online-Shop-Systeme (Magento, XT-Commerce), gehören zu unseren Leistungen.</p>

        <p class="line">TRaetsch IT wird Sie bei Ihren Projekten garantiert lösungsorientiert und kompetent unterstützen!</p>

        <p class="line">Wir freuen uns darauf, Ihre innovativen und individuellen Vorstellungen von Software, Wirklichkeit werden zu lassen!</p>

    </div>
    </p>
</div>
<div>

</div>